@model List<TCGshopTestEnvironment.ViewModels.WishlistViewModel>

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-left" style="padding-left: 60px; font-size:3.5rem;color: #e7e7e7;">Favorites list </h1>
          </div>
    </div>
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
     <div class="row">
         <div class="col-md-12 col-md-offset-2" style="smargin-top:10px;">
    <div id="productsTable" style="background-color:#313336;width: 700px;padding-top:50px;padding-bottom:40px;">
        <table class="table table-condensed" id="productsIndexTable">
            <thead>
                
            </thead>
            <tbody>
                @foreach (var asset in @Model)
                {
                    <div class="container" id="row-@asset.WishlistId">
                    <div class="row assetRow" >
                        <div class="col-md-2 text-center">
                            <img src="@(Startup.storagePath + asset.ImageUrl+ ".png")" class="" width="100" />
                        </div>
                        <div class="col-md-2" style="color:#efefef;"> <h1>@asset.Name</h1> <small style="text-transform:uppercase;font-weight: 500;"> Grade: @asset.Grade</small></div>
                        <div class="col-md-2">

                        </div>
                        <div class="col-md-3">
                            <button id="AddCartBtn" onclick="postToCart('@asset.Id', '@User.Identity.Name', '@asset.ImageUrl', '@asset.Name', '@asset.Price', '@asset.Grade', '1')" class="btn btn-primary btnSignIn AddCart" style="margin-bottom: 10px;">Add <i class="fa fa-shopping-cart" style="font-size: 2.0rem;"></i></button>
                            @await Html.PartialAsync("/Views/Shopping/AddedProductModalBox.cshtml")

                            <div class="pt-5 mt-5" style="padding-top:50px;">
                                <a href="#" class="Removefromwishlist" style="color:#efefef;"
                                   data-id='@asset.WishlistId'> <i class="fa fa-trash-o"></i> Remove
                                </a>
                            </div>
                        </div>

                        </div>
                            <hr style="width: 650px; float: left; clear: right;color:#666666 !important;"/>
                       </div>

                       }
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
}

<script type='text/javascript' src='/js/Wishlist.js' defer='defer'></script>*