@model TCGshopTestEnvironment.ViewModels.ProductsIndexModel
@{ViewBag.Title = "Pokemon";
}

@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
</div>



<div id="asssets">
    <div id="productsTable">
        <div class="container-fluid">
            <div class="row" style="margin-top: 10px;">
                @await Html.PartialAsync("/Views/Products/_Filters.cshtml")
                <div class="col-md-10">
                    @await Html.PartialAsync("/Views/Products/_ProductViews.cshtml")

                    <div class="col-md-12">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, ViewBag.PageAmount, ViewBag.CardType, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie, ViewBag.grades, ViewBag.PriceLow, ViewBag.PriceHigh }))

                        <input type="button" value="8" onclick="location.href='@Url.Action("Index", new { ViewBag.page, ViewBag.CardType, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie, ViewBag.grades, ViewBag.PriceLow, ViewBag.PriceHigh})&pageAmount=8'" />
                        <input type="button" value="16" onclick="location.href='@Url.Action("Index", new { ViewBag.page, ViewBag.CardType, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie, ViewBag.grades, ViewBag.PriceLow, ViewBag.PriceHigh})&pageAmount=16'" />
                        <input type="button" value="32" onclick="location.href='@Url.Action("Index", new { ViewBag.page, ViewBag.CardType, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie, ViewBag.grades, ViewBag.PriceLow, ViewBag.PriceHigh})&pageAmount=32'" />
                        <input type="button" value="64" onclick="location.href='@Url.Action("Index", new { ViewBag.page, ViewBag.CardType, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie, ViewBag.grades, ViewBag.PriceLow, ViewBag.PriceHigh})&pageAmount=64'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>