@model TCGshopTestEnvironment.ViewModels.ProductsIndexModel
@{ViewBag.Title = "Pokemon";
}

@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core

<div id="asssets">
    
    <div id="productsTable">
        <table class="table table-condensed" id="productsIndexTable">
            <div class="container">
                <div class="row">
                    @foreach (var asset in ViewBag.OnePageOfProducts)
        {
            <div class="col-md-4">
                <td class="">
                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@asset.Id">
                        <img src="/images/TCG-Cards/@(asset.ImageUrl + ".png")" class="imageCell" />
                    </a>
                    <p>
                        @asset.Name<br />
                        @asset.Grade<br />
                        @asset.Stock<br />
                        €@asset.Price
                    </p>
                </td>

            </div>
}
                </div>
            </div>
        </table>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, ViewBag.PageAmount, ViewBag.CardType }))
    </div>
    <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="5" asp-route-CardType="@ViewBag.CardType"><button>5</button></a>
    <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="10" asp-route-CardType="@ViewBag.CardType"><button>10</button></a>
    <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="20" asp-route-CardType="@ViewBag.CardType"><button>20</button></a>
    <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="50" asp-route-CardType="@ViewBag.CardType"><button>50</button></a>
</div>