@model IEnumerable<TCGshopTestEnvironment.ViewModels.ManageViewModels.UserManagementViewModel>
@{
    ViewData["Title"] = "User Management";
    ViewData.AddActivePage(ManageNavPages.UserManagement);
}

<h4>@ViewData["Title"]</h4>

<script type='text/javascript' src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js'></script>

<div class="panel panel-primary">

    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="example1">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Name</b></td>
                    <td><b>Email</b></td>
                    <td><b>Email Confirmed?</b></td>
                    <td><b>Options</b></td>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.EmailConfirmed</td>
                    <td>
                        <a asp-action="UserEdit" asp-route-username="@user.Username">Edit</a> |
                        <a asp-action="UserDetails" asp-route-username="@user.Username">Details</a> |
                        @if (!user.Username.Equals("admin@admin.com")) // needs to be changed to a role check
                        {
                            <a asp-action="UserDelete" asp-route-username="@user.Username">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
        <a asp-action="UserAdd"><button class="btn btn-primary btnSignIn">Add User</button></a>
    </div>
    
    <div class="panel-footer">
        <p class="box-title"><b>Total Users till @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary">@Model.Count()</span></p>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#example1').DataTable({
                "paging": false,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    {"searchable": false}]
            });
        });
    </script>
}  