@model TCGshopTestEnvironment.ViewModels.ProductsDetailModel
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager
@{ViewBag.Title = "Detail View";
}

<div id="asssets">
    <div id="productsTable">
        <div class="container">
            <div class="row detailProduct">
                <div class="col-md-6 text-center">
                    <tr class="assetRow">
                        <td class=""><img src="@(Startup.storagePath + Model.ImageUrl)" class="" style="height: 300px; width: 240px;" /></td>
                </div>

                <div class="col-md-6">
                    <h1 class="display-1">@Model.Name</h1>
                    <label class="GradeText" style="font-size: 1.5rem;">[@Model.Grade]</label>
                    <p style="margin-top:5px;">
                        <strong>Description</strong> <br />
                        @Model.Description
                    </p>
                    <p>
                        <strong>Stock</strong> <br />
                        <label value="@Model.Stock" id="productStock">@Model.Stock</label>
                    </p>

                    <p>

                        <h3> €@Model.Price</h3>
                    </p>

                </div>
                <button class="qty" type="button" data-func="minus" data-field="field1">-1</button>
                <input type="text" id="SelectedAmount" name="field1" value="1" readonly="" />
                <button class="qty" type="button" data-func="plus" data-field="field1">+1</button>
                
                @*Button action handler, one for signed in users, one for guests*@
                @if (SignInManager.IsSignedIn(User))
                {
                    <button id="AddCartBtn" onclick="postToCart('@Model.Id', '@User.Identity.Name', '@Model.ImageUrl', '@Model.Name', '@Model.Price', '@Model.Grade', document.getElementById('SelectedAmount').value)" class="btn btn-primary btnSignIn AddCart" style="margin-bottom: 10px;">Add <i class="fa fa-shopping-cart" style="font-size: 2.0rem;"></i></button>
                    @await Html.PartialAsync("/Views/Shopping/AddedProductModalBox.cshtml")
                }
                else
                {
                    <button id="AddCartBtn" onclick="AddToCart('@Model.Id', '@Model.Name',  '@Model.ImageUrl', '@Model.Price', '@Model.Grade', document.getElementById('SelectedAmount').value)" class="btn btn-primary btnSignIn AddCart" style="margin-bottom: 10px;">Add <i class="fa fa-shopping-cart" style="font-size: 2.0rem;"></i></button>
                    @await Html.PartialAsync("/Views/Shopping/AddedProductModalBox.cshtml")
                }
            </div>
        </div>
    </div>
</div>

