@model TCGshopTestEnvironment.ViewModels.ProductsIndexModel
@{ViewBag.Title = "Product View";
}

@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core;




<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
    </div>
</div>



<div id="asssets">
    <div id="productsTable">
        <div class="container-fluid">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2">
                    <h2>Filter</h2>
                </div>
                <div class="col-md-10">
                    @await Html.PartialAsync("/Views/Products/_ProductViews.cshtml")

                    <div class="col-md-12">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page, ViewBag.PageAmount, ViewBag.CardType }))

                        <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="8" asp-route-CardType="@ViewBag.CardType"><button>8</button></a>
                        <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="16" asp-route-CardType="@ViewBag.CardType"><button>16</button></a>
                        <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="32" asp-route-CardType="@ViewBag.CardType"><button>32</button></a>
                        <a asp-controller="Products" asp-action="Index" asp-route-page="@ViewBag.page" asp-route-pageAmount="62" asp-route-CardType="@ViewBag.CardType"><button>62</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>