@model TCGshopTestEnvironment.ViewModels.ProductsIndexModel
@{ViewBag.Title = "Product View";
}

@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core

<div id="asssets">
    <h3>Product</h3>
    <div id="productsTable">
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Search", new { page, ViewBag.PageAmount, ViewBag.name }))
        <table class="table table-condensed" id="productsIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Stock</th>
                    <th>Price</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var asset in ViewBag.OnePageOfProducts)
                {
                    <tr class="assetRow">
                        <td class="">
                            <a asp-controller="Products" asp-action="Detail" asp-route-id="@asset.Id">
                                <img src="/images/TCG-Cards/@(asset.ImageUrl + ".png")" class="imageCell" />
                            </a>
                        </td>
                        <td class="">@asset.Name</td>
                        <td class="">@asset.Grade</td>
                        <td class="">@asset.Stock</td>
                        <td class="">€@asset.Price</td>

                    </tr>
                }
            </tbody>
        </table>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Search", new { page, ViewBag.PageAmount, ViewBag.name }))
    </div>
    <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="5" asp-route-name="@ViewBag.name"><button>5</button></a>
    <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="10" asp-route-name="@ViewBag.name"><button>10</button></a>
    <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="20" asp-route-name="@ViewBag.name"><button>20</button></a>
    <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="50" asp-route-name="@ViewBag.name"><button>50</button></a>
</div>