@model IEnumerable<TCGshopTestEnvironment.ViewModels.ProductsViewModel>
@{ViewBag.Title = "Product View";
}
@{

    List<string> totalcatagories= ViewBag.totalCategory as List<string>;
}


@using System.Data.SqlClient
@using X.PagedList.Mvc;
@using X.PagedList;
@using X.PagedList.Mvc.Core




<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
    </div>
</div>

<div id="asssets">
    <div id="productsTable">
        <div class="container-fluid">
            <div class="row" style="margin-top: 10px;">
                

                <!--filtering-->
                <div class="col-md-2">
                    <h2>Filter</h2>
                    <div>
                        <!--sorting-->
                        @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { id = "TheForm" }))
                        {
                            <input type="hidden" name="name" value="@ViewBag.name" />
                            <input type="hidden" name="pagAmount" value="@ViewBag.PageAmount" />
                            <input type="hidden" name="catagorie" value="@ViewBag.catagorie" />
                            @Html.DropDownList("Sortby", new SelectList(ViewBag.Sorting, "Value", "Text", ViewBag.SelectSort), new { onChange = "document.getElementById('TheForm').submit();", @style = "display: block" })

                        }
                        <!--catagorie filter-->
                            <form class="" method="get" asp-controller="Products" asp-action="Search">
                                @foreach (string categorie in ViewBag.totalCategory)
                                {
                                    if ((string)ViewBag.catagorie == categorie)
                                     {
                                         <div>
                                             <input type="checkbox" id="cats" name="catagorie" value=@categorie checked="checked"/>
                                             <label for="cats">@categorie</label>
                                         </div>
                                     }
                                    else
                                    {
                                        <div>
                                            <input type="checkbox" id="cats" name="catagorie" value=@categorie />
                                            <label for="cats">@categorie</label>
                                        </div>
                                    }

                                }
                                <input type="hidden" name="name" value="@ViewBag.name" />
                                <input type="hidden" name="pagAmount" value="@ViewBag.PageAmount" />
                                <input type="hidden" name="sortBy" value="@ViewBag.sortBy" />
                                <div class="col-md-12 text-center">
                                    <input type="submit" value="Search" class="btn btn-primary btnRegister" />
                                </div>
                            </form>

                    </div>
                </div>


                <!--product views-->
                <div class="col-md-10">
                    @await Html.PartialAsync("/Views/Products/_ProductViews.cshtml")

                    <div class="col-md-12">
                        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Search", new { page, ViewBag.PageAmount, ViewBag.name, ViewBag.sortBy, ViewBag.catagorie }))
                        <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="8" asp-route-name="@ViewBag.name" asp-route-sortBy="@ViewBag.sortBy" asp-route-catagorie="@ViewBag.catagorie"><button>8</button></a>
                        <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="16" asp-route-name="@ViewBag.name" asp-route-sortBy="@ViewBag.sortBy" asp-route-catagorie="@ViewBag.catagorie"><button>16</button></a>
                        <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="32" asp-route-name="@ViewBag.name" asp-route-sortBy="@ViewBag.sortBy" asp-route-catagorie="@ViewBag.catagorie"><button>32</button></a>
                        <a asp-controller="Products" asp-action="Search" asp-route-page="@ViewBag.page" asp-route-pageAmount="62" asp-route-name="@ViewBag.name" asp-route-sortBy="@ViewBag.sortBy" asp-route-catagorie="@ViewBag.catagorie"><button>62</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 